.about{
    display: grid;
    grid-template-areas: 
        'bgName    bgName bgName  bgName'
        'textArea textArea textArea navLinks';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(0, 0.8fr) 2fr;
    background-color: rgba($color: #333, $alpha: 1);

    .fuseTxt{
        grid-area: textArea;
        line-height: 2em;
        padding: 2px 8%;
        h3{
            font-size: 2em;
        }
        p{
            font-size: 1em;
            text-align: justify;
            margin: 2em 0;
        }
    }
}