@mixin flexCenterProperties() {
    display: flex;
    justify-content: center;
}


#about-section{
    @include flexCenterProperties();
}


#about-content{
    p{
        font-size: .8em;
        text-align: justify;
        line-height: 1.75em;
    }
}