/*Contact*/

//small devices font-size
$fuse-txt:3rem;
$info-txt:1.5rem;

.contact{
    display: grid;
    grid-template-areas: 
        'bgName    bgName bgName  bgName'
        'textArea textArea textArea navLinks';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(0, 0.8fr) 2fr;
    background-color: $tertiary-color;

    .fuseTxt{
        grid-area: textArea;
        line-height: 2em;
        padding: 2px 8%;
        h3{
            font-size: $fuse-txt;
            @include font($main-font);
        }
        p{
            font-size: $info-txt;
            text-align: justify;
            margin: 2em 0;
            @include font($ctrl-font);
        }
    }
}