/*Contact*/

@include bgName($bgTxt-size-sm);
.contact{
    display: grid;
    grid-template-areas: 
        'bgName    bgName bgName  bgName'
        'textArea textArea textArea navLinks';
    // grid-template-columns: repeat(3, 1fr) minmax(20px, 30px);
    grid-template-rows:  minmax(90px, 100px) auto;
    background-color: $tertiary-color;

    .fuseTxt{
        grid-area: textArea;
        line-height: 2em;
        padding: 2px 8%;
        h3{
            font-size: $heading-txt-sm;
            @include font($main-font);
        }
        p{
            font-size: $info-txt-sm;
            text-align: justify;
            margin: 2em 0;
            @include font($ctrl-font);
        }
    }
}


//media queries

//medium screens
@media screen and (min-width: $break-medium-two){
    @include bgName($bgTxt-size-md);
 .contact{
    grid-template-columns: repeat(3, 1fr) minmax(50px, 80px);
    grid-template-rows:  minmax(140px, 160px) auto;
    .fuseTxt{
        line-height: 2em;
        padding: 2px 8%;
        h3{
            font-size: $heading-txt-md;
            @include font($main-font);
        }
        p{
            font-size: $info-txt-md;
            text-align: justify;
            margin: 2em 0;
            @include font($ctrl-font);
        }
    }
}}

//large screens
@media screen and (min-width: $break-large){
    @include bgName($bgTxt-size-lg);
  .contact{
    grid-template-columns: repeat(3, 1fr) minmax(50px, 80px);
    grid-template-rows:  minmax(160px, 190px) auto;
  
    .fuseTxt{
        line-height: 2em;
        padding: 2px 8%;
        h3{
            font-size: $heading-txt-lg;
            @include font($main-font);
        }
        p{
            font-size: $info-txt-lg;
            text-align: justify;
            margin: 2em 0;
            @include font($ctrl-font);
        }
    }
}}
