/* Landing Page*/

//small devices font-sizes
$navBtn_FontSize_sm:0.9rem; //navlinks, test btn, exploreMore btn
$killCovid_FontSize_sm:2.7rem; //kill covid text
$casesInfo_FontSize_sm:1rem; //sidebar cases small txt, sanity txt
$casesTitle_FontSize_sm:1.5rem; //sidebar cases large txt

//medium devices font-sizes
$navBtn_FontSize_md:1.1rem;
$killCovid_FontSize_md:5rem;
$casesInfo_FontSize_md:1.15rem;
$casesTitle_FontSize_md:2.15rem;

//large devices font-sizes
$navBtn_FontSize_lg:1.1rem;
$killCovid_FontSize_lg:6rem;
$casesInfo_FontSize_lg:1.3rem;
$casesTitle_FontSize_lg:2.3rem;



//main styling 

.landingPage {
    display: grid;
    grid-template-areas:
        'header header header'
        'section section section';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(50px, 60px) auto;
    overflow: hidden;

    header {
        grid-area: header;
        max-height: fit-content;

        nav {
            ul {
                display: flex;
                list-style-type: none;
                justify-content: flex-end;
                align-content: center;
                padding-right: 2rem;

                li {
                    cursor: pointer;
                    padding: 10px 20px;
                    margin: .3rem;
                    border: .1px solid transparent;

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-weight: 500;
                        font-size: $navBtn_FontSize_sm;
                    }
                }

                .hoverEffect {
                    &:active,
                    &::selection {
                        background-color: $secondary-color;
                        border: .1px solid transparent;
                        border-radius: 6px;
                    }
                }

                .underLine {
                    @include underline-from-center();
                }
            }
        }
    }

    //Aside 
    aside {
        grid-area: aside;
        @include font($alt-font);
        color: $light-text-color;
        background-color: $tertiary-color;
        padding-top: 15vh;
        display: none;
        

        div {
            margin-left: 10%;
            margin-bottom: 12%;

            .covid-svg {
                max-width: 4rem;
                margin-bottom: 15px;
                animation: float 4s infinite;
            }

            span {
                display: inline-flex;
                flex-direction: row;
                width: 75%;
                justify-content: space-between;

                #flag-img {
                    width: 1.5rem;
                }
            }

            h1 {
                font-size: $casesTitle_FontSize_sm;
                font-weight: 750;
            }

            h3 {
                font-weight: 500;
                font-size: $casesInfo_FontSize_sm;
            }
        }
    }

    //main section
    section {
        grid-area: section;
        display: flex;        //for div & nav
        flex-direction: column;
        justify-content: space-around;

        div {
            position: relative;
            padding-left: 7%;

            h1 {
                font-size: $killCovid_FontSize_sm;
            }

            h3 {
                font-size: $casesInfo_FontSize_sm;
            }
        }

        span {
            display: flex;
            justify-content: center;

            a {
                display: inline;
                color: inherit;
                min-height:55px ;
                margin: 6px;
                font-size: $navBtn_FontSize_sm;
                font-weight: 600;
                border-radius: 6px;
                background-color: transparent;
                border: 0.5px solid #fff;
                cursor: pointer;
                text-decoration: none;
            }

            .test {
                padding: 16px 60px;
                background-color: $secondary-color;
                border: .5px solid $secondary-color;
                @include hacks();

                &:active,
                &:hover {
                    background-color: transparent;
                    border: 0.5px solid #fff;
                }
            }

            .explore {
                @include icon-wobble();
                padding: 15px 10px;
                width: 160px;
                align-items: center;
                justify-content: space-between;
                display: flex;
            }
        }
    }
}


//Media Queries
@media screen and (min-width: $break-medium-two) {
    .landingPage {
        grid-template-areas:
            'aside header header header'
            'aside section section section';
        grid-template-columns: minmax(200px, 0.5fr) repeat(3, 1fr);
        grid-template-rows: minmax(50px, 70px) 1fr;

        header {
            grid-area: header;

            nav {
                ul {
                    align-content: flex-end;

                    li {
                        a {
                            font-size: $navBtn_FontSize_md;
                        }
                    }
                }

                .hoverEffect {
                    &:hover {
                        background-color: $secondary-color;
                        border: .1px solid transparent;
                        border-radius: 6px;
                        @include hoverEffect();
                    }
                }

            }
        }

        aside {
            grid-area: aside;
            display: initial;

            div {
                h1 {font-size: $casesTitle_FontSize_md;}

                h3 {font-size: $casesInfo_FontSize_md;}
            }
        }

        section {
            grid-area: section;

            div {
                h1 {font-size: $killCovid_FontSize_md;}

                h3 {font-size: $casesInfo_FontSize_md;}
            }

            span {
            padding-left: 7%;
            justify-content: flex-start;
                a {
                    
                    font-size: $navBtn_FontSize_md;
                }

                .test {
                    padding: 16px 50px;

                    &:hover,
                    &:active {
                        @include hoverEffect;
                    }
                }

                .explore {
                    padding: 15px 5px;
                    width: 190px;
                }
            }
        }
    }
}

//large devices
@media screen and (min-width: $break-larger) {
    .landingPage {
        header {
            a {font-size: $navBtn_FontSize_lg;}
        }

        aside {
            display: initial;

            div {
                h1 {font-size: $casesTitle_FontSize_lg;}

                h3 {font-size: $casesInfo_FontSize_lg;}
            }
        }

        section {
            div {
                h1 { font-size: $killCovid_FontSize_lg;}

                h3 {font-size: $casesInfo_FontSize_lg;}
            }

            span {
                a {font-size: $navBtn_FontSize_lg;}
            }
        }
    }
}