/* Landing Page*/

//small devices font-sizes
$navBtn_FontSize_sm:1.3rem;   //navlinks, test btn, exploreMore btn
$killCovid_FontSize_sm:3.6rem;  //kill covid text
$casesInfo_FontSize_sm:1rem;   //sidebar cases small txt, sanity txt
$casesTitle_FontSize_sm:2rem;   //sidebar cases large txt

//large devices font-sizes
$navBtn_FontSize_lg:1.35rem;   
$killCovid_FontSize_lg:5rem;
$casesInfo_FontSize_lg:1.3rem;  
$casesTitle_FontSize_lg:2.3rem; 



//main styling 

.landingPage{
    display: grid;
    grid-template-areas: 
        'header header header'
        'section section section';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(50px,60px) 1fr;
    overflow: hidden;

    header{
        grid-area: header;
        max-height: fit-content;
        nav{
            ul{ display: flex;
                list-style-type: none;
                justify-content: flex-end;
                align-content: center;
                padding-right: 2rem;
                li{
                    cursor: pointer;
                    padding: 10px 20px;
                    margin: .3rem;
                    border: .1px solid transparent; 
                
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 500;
                        font-size: $navBtn_FontSize_sm;
                    }
                }
                .hoverEffect{
                    &:active,&::selection{
                        background-color: $secondary-color;
                        border: .1px solid transparent; 
                        border-radius: 6px;    
                    }
                }
                .underLine{
                    @include underline-from-center();
                }
            }
        }
    }

    //Aside 
    aside{
        @include font($alt-font);
        grid-area: aside;
        color: $light-text-color;
        background-color: $tertiary-color;
        display: flex;
        flex-direction: column;
        padding-top: 55%;
        // justify-content: center;
        // align-content: center;
        display: none;
        
        div{
            margin-left: 10%;
            margin-bottom: 12%;
            .covid-svg{
                max-width: 4rem;
                margin-bottom: 15px;
                animation: float 4s infinite;
            }
            span{
                display: inline-flex;
                flex-direction: row;
                width: 75%;
                justify-content: space-between;
                #flag-img{
                    width: 1.5rem;
                }
            }
            h1{
               font-size: $casesTitle_FontSize_sm;
               font-weight: 750;
            }
            h3{
                font-weight: 500;
                font-size: $casesInfo_FontSize_sm;
            }
        }
    }

    //main section
    section{
        grid-area: section;  
        display: flex;  //for div & nav
        flex-direction: column;
        justify-content: space-around;

        .mobile_floating_svg{
            position: absolute;
            top: 55%;
            align-self:center;
            .covid-svg{
                width: 5rem;
                animation: float 5s infinite;
                opacity: 0.5;
            }
        }

         div{
            position: relative;
            //padding-top: 10%;
            padding-left: 7%;
            h1{
                font-size: $killCovid_FontSize_sm;
            }
            h3{
                font-size: $casesInfo_FontSize_sm;
            }
        }
        span{//background: #000;
            position: relative;
            padding-top: 10%;
            padding-left: 7%;
            a{
                display: inline-flex;
                color: inherit;
                padding: 10px 35px;
                margin: 6px;
                font-size: $navBtn_FontSize_sm;
                font-weight: 600;
                border-radius: 6px;
                background-color: transparent;
                border: 0.5px solid #fff;
                cursor: pointer;
                text-decoration: none;
            }
            .test{
                padding: 12px 60px ;
                background-color: $secondary-color;
                border: .5px solid $secondary-color;
                &:active,&:hover{
                    background-color: transparent;
                    border: 0.5px solid #fff;
                }
            }
            .explore{
                align-items: center;
                column-gap: 2rem;
            }
        }
    }
}


//Media Queries
@media screen and (min-width: $break-medium-two){
.landingPage{
    grid-template-areas: 
        'aside header header header'
        'aside section section section';
    grid-template-columns: minmax(200px, 0.5fr) repeat(3, 1fr);
    grid-template-rows: minmax(50px, 70px) 1fr;

    header{
        nav{
            ul{
                align-content: flex-end;
                li{
                    a{
                    font-size:1.0rem;
                    font-size: $navBtn_FontSize_lg;
                    }
                }
            }
            .hoverEffect{
                &:hover{
                    background-color: $secondary-color;
                    border: .1px solid transparent; 
                    border-radius: 6px;
                    @include hoverEffect();     
                }
            }
            
        }
    }
    aside{
        display: initial;
        div{
            h1{font-size: $casesTitle_FontSize_lg;}
            h3{font-size: $casesInfo_FontSize_lg;}
        }
    }
    section{
        div{
            h1{
                font-size: $killCovid_FontSize_lg;
            }
            h3{
                font-size: $casesInfo_FontSize_lg;
            }
        }
    }
    span{//background: #000;
        a{
            padding: 10px 35px;
        }
        .test{
            padding: 15px 50px ;
            &:hover,&:active{
                @include hoverEffect;
            }
        }
    }
}
}

@media screen and (min-width: $break-larger){

}