/* TEST */

//small devices font-size
$dropZone-Width-sm:500px;
$dropZone-Height-sm:350px;
$imgView-Width-sm:300px;

//medium screens
$dropZone-Width-md:500px;
$dropZone-Height-md:350px;
$imgView-Width-md:300px;

//large screens
$dropZone-Width-lg:500px;
$dropZone-Height-lg:350px;
$imgView-Width-lg:300px;


@include bgName($bgTxt-size-sm);
.test{
    display: grid;
    grid-template-areas: 
        'bgName    bgName bgName  bgName'
        'textArea textArea textArea navLinks';
        grid-template-columns: repeat(3, 1fr) minmax(30px, 40px);
        grid-template-rows:  minmax(90px, 100px) auto;
    background-color: $tertiary-color;

    .procedureTxt{
        grid-area: textArea;
        line-height: 2em;
        padding: 2px $paddingLeft;
        h3{
            font-size: $heading-txt-sm;
            @include font($main-font);
        }
        p{
            font-size: $info-txt-sm;
            text-align: justify;
            margin: 2em 0;
            @include font($ctrl-font);
        }
        span{
            a{
                display: inline-flex;
                color: inherit;
                padding: 10px 45px;
                margin: 12px 6px;
                font-size: 1.1rem;
                font-weight: 600;
                border-radius: 6px;
                background-color: transparent;
                border: 0.5px solid #fff;
                cursor: pointer;
                text-decoration: none;
                background-color: $secondary-color;
                border: .5px solid $secondary-color;
                &:hover{
                    background-color: transparent;
                    border: 0.5px solid #fff;
                    @include hoverEffect;
                }
            }
        }
    }
}

#drop-zone{
    background-color: #222;
    width: $dropZone-Width-sm;
    min-height: $dropZone-Height-sm;
    max-width: auto;
    max-height: auto;
    border-radius: 15px;
    border: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .85);
    cursor: pointer;
}

#drop-text p{
    padding-top: 20px;
    text-align: center;
    opacity: .45;
}

.image-view {
     display: flex;
     justify-content: center;
     align-items: center;
     position:relative;
 }

 .image-view img {
     border-radius: 10px;
     max-width: $imgView-Width-sm;
     max-height: $imgView-Width-sm;
 }



 //medium screens
 @media screen and (min-width:$break-medium-two){
    @include bgName($bgTxt-size-md);
  .test{
    grid-template-columns: repeat(3, 1fr) minmax(50px, 80px);
    grid-template-rows:  minmax(140px, 160px) auto;
  }
    #drop-zone{
        width: $dropZone-Width-md;
        min-height: $dropZone-Height-md;
    }
    .image-view img {
        max-width: $imgView-Width-md;
        max-height: $imgView-Width-md;
    }
 }


 //large screens
 @media screen and (min-width:$break-large){
    @include bgName($bgTxt-size-lg);
    .test{
        grid-template-columns: repeat(3, 1fr) minmax(50px, 80px);
    grid-template-rows:  minmax(160px, 190px) auto;
    }
    #drop-zone{
        width: $dropZone-Width-lg;
        min-height: $dropZone-Height-lg;
    }
    .image-view img {
        max-width: $imgView-Width-lg;
        max-height: $imgView-Width-lg;
    }
 }