@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$break-small: 400px;
$break-medium-one: 600px;
$break-medium-two: 800px;
$break-large: 1000px;
$break-larger: 1280px;
$break-humongous: 1440px;

$light-text-color: #ddd;
$bright-text-color: #EFEFEF;
$secondary-color: rgb(241, 7, 7);
$paddingLeft:8%;

@mixin hoverEffect {
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 2ms;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 html{
    height: 100%;
    background-image: url(../assets/img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    body{
        background-color: rgba($color: #000, $alpha: 0.75); 
        font-family: 'Montserrat', sans-serif;  
        color: $bright-text-color;
        height: 100%;

        .navLinks{ //test and about
            grid-area: navLinks;
            grid-template-rows: repeat(4, minmax(40px, 100px));
            display: inherit;
            justify-content: center;
            div{
                width: 4em;
                height: 5em;
                align-self: center;
                svg{
                    width: 1em;
                    height: 2em;
                    fill: #666;
                    margin: 1.5em;
                    &:hover,&:active,&::selection{
                        fill: rgba(241, 7, 7,.9);
                        width: 1.5em;
                        margin-left: 1.3em;
                        @include hoverEffect();
                    }
                }
                .active{
                    fill: $secondary-color;
                }
            }
        }
        .bgName{  //test and about
            grid-area: bgName;  
            font-size: 12em;
            font-weight: 900;
            padding: 2px $paddingLeft;
            color: rgba($color: #444, $alpha: 0.3);
        }
    }  
}

@import "landingpage";
@import "about";
@import "test";

