@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$break-small: 400px;
$break-medium-one: 600px;
$break-medium-two: 800px;
$break-large: 1000px;
$break-larger: 1280px;
$break-humongous: 1440px;
$light-text-color: #ddd;
$bright-text-color: #EFEFEF;
$secondary-color: #f10707;

@mixin hoverEffect {
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 2ms;
  }


@import "landingpage";
@import "about";
@import "test";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 html{
    scroll-behavior: smooth;
    background-image: url(/assets/img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    body{
        background-color: rgba($color: #000, $alpha: 0.75); 
        font-family: 'Montserrat', sans-serif;  
        color: $bright-text-color;
        min-width: 100vw;
        min-height: 100vh;
    }  
}